{% block head %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block customCSS %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logodoble.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
</head>
{% endblock %}

{% block body %}

<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="home"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="" />
                    <h6 style="color: #3bd100; font-weight: bold">
                        Usuario activo {{ current_user.fullname }}
                    </h6>
                </a>
            </h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a class="nav-link scrollto" href="home">Inicio</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="agregar_asesor">Registro</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto " href="asesores">Resultados</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto active" href="asesores_info">Asesores</a>
                    </li>
                    <!-- <li>
                        <a class="nav-link scrollto" href="#services">Services</a>
                    </li> -->
                    <li>
                        <a class="btn nav-link scrollto" href="{{ url_for('logout') }}" style="color: #d7411d">
                            Cerrar sesión
                            <i class="bi bi-box-arrow-left" style="font-size: 20px; color: #d7411d"></i>
                        </a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <main id="main">
        <section id="contact" class="contact">
            <div class="container">
                <div class="section-title">
                    <span>INFO ASESORES</span>
                    <h2>INFO ASESORES</h2>
                    <!-- <p>Registro de colaborador</p> -->
                </div>
                <form action="{{ url_for('asesores_info') }}" method="GET" class="mb-3">
                    <div class="row align-items-center"
                        style="border: solid 1px;color: #a5a5a5;border-radius: 10px;padding: 15px;">
                        <!-- Campo de búsqueda -->
                        <div class="col-lg-4 col-md-6">
                            <input type="text" class="form-control" name="search"
                                placeholder="Buscar por nombre o número de documento"
                                value="{{ request.args.get('search', '') }}">
                        </div>

                        <!-- Dropdown Género -->
                        <div class="col-lg-2 col-md-2">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button"
                                    id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                    Género
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton3">
                                    {% for generos in ['masculino', 'femenino', 'otro'] %}
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="genero"
                                                value="{{ generos }}" id="{{ generos }}" {% if generos in
                                                request.args.getlist('genero') %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ generos }}">
                                                {{ generos.capitalize() }}
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- Dropdown Estado Civil -->
                        <div class="col-lg-2 col-md-2">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button"
                                    id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    Estado Civil
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                    {% for estado in ['soltero', 'casado', 'divorciado', 'viudo'] %}
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="estado_civil"
                                                value="{{ estado }}" id="{{ estado }}" {% if
                                                request.args.getlist('estado_civil') and estado in
                                                request.args.getlist('estado_civil') %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ estado }}">
                                                {{ estado.capitalize() }}
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- Dropdown Nivel de Estudios -->
                        <div class="col-lg-2 col-md-2">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button"
                                    id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Nivel de Estudios
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton2">
                                    {% for estudios in ['bachillerato', 'tecnico', 'tecnologo', 'universitario'] %}
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="nivel_estudios"
                                                value="{{ estudios }}" id="{{ estudios }}" {% if
                                                request.args.getlist('nivel_estudios') and estudios in
                                                request.args.getlist('nivel_estudios') %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ estudios }}">
                                                {{ estudios.capitalize() }}
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- Dropdown Área de Experiencia -->
                        <div class="col-lg-2 col-md-2">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button"
                                    id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
                                    Área de Experiencia
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton4">
                                    {% for area in ['bo', 'cobranza', 'retencion', 'servicio al cliente','venta
                                    cruzada','ventas'] %}
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="area_experiencia"
                                                value="{{ area }}" id="{{ area }}" {% if
                                                request.args.getlist('area_experiencia') and area in
                                                request.args.getlist('area_experiencia') %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ area }}">
                                                {{ area.capitalize() }}
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- Botón de búsqueda -->
                        <div class="col-lg-1 col-md-12 mt-3 mt-lg-0">
                            <button type="submit"
                                class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center"
                                style="margin: 15px 0 0 0; padding: 10px 20px;">
                                <i class="bi bi-funnel" style="margin-right: 5px;"></i>
                                <span>Filtrar</span>
                            </button>
                        </div>
                        <div class="col-lg-1 col-md-12 mt-3 mt-lg-0">
                            <a href="asesores_info"
                                class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center"
                                style="margin: 15px 0 0 0; padding: 10px 20px;">
                                <i class="bi bi-arrow-clockwise" style="margin-right: 5px;"></i>
                                <span>Limpiar</span>
                            </a>
                        </div>
                        <div class="col-lg-1 col-md-12 mt-3 mt-lg-0">
                            <!-- Botón para exportar a Excel -->
                            <button type="submit" name="export" value="excel" class="btn btn-success"
                                style="margin: 15px 0 0 0; padding: 10px 20px;">
                                <span>Excel</span>
                            </button>
                        </div>



                    </div>
                </form>

                <div class="mt-5 mt-lg-0 d-flex align-items-stretch">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="display: none;">Codigo</th>
                                <th class="titulos-filas">#</th>
                                <th class="titulos-filas">Documento</th>
                                <th class="titulos-filas">Nombre</th>
                                <th class="titulos-filas">Edad</th>
                                <th class="titulos-filas">Genero</th>
                                <th class="titulos-filas">Estado civil</th>
                                <th class="titulos-filas">Correo</th>
                                <th class="titulos-filas">Telefono</th>
                                <th class="titulos-filas">Academico</th>
                                <!-- <th class="titulos-filas"></th> -->
                                <!-- <th class="titulos-filas"></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for asesor in asesores %}
                            <tr>
                                <td style="display: none;">{{ asesor[0] }}</td>
                                <td class="titulos-filas">{{ loop.index + (page - 1) * per_page }}</td>
                                <td>{{ asesor[1] }}</td>
                                <td>{{ asesor[2] }}</td>
                                <td>{{ asesor[3] }}</td>
                                <td>{{ asesor[4] }}</td>
                                <td>{{ asesor[5] }}</td>
                                <td>{{ asesor[6] }}</td>
                                <td>{{ asesor[7] }}</td>
                                <td>{{ asesor[8] }}</td>
                                <td>
                                    <a href="{{ url_for('editar_asesor', id=asesor[0]) }}"
                                        class="btn btn-editar">Editar</a>
                                </td>
                                <td>
                                    <form action="{{ url_for('eliminar_asesor', id=asesor[0]) }}" method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <input type="hidden" name="id" value="{{ asesor[0] }}" />
                                        <button class="btn btn-outline-danger">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if total_pages > 1 %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{{ url_for('asesores_info', page=1, search=request.args.get('search', ''), estado_civil=request.args.getlist('estado_civil'), nivel_estudios=request.args.getlist('nivel_estudios'), genero=request.args.getlist('genero'), area_experiencia=request.args.getlist('area_experiencia')) }}">Primera</a>
                            </li>
                            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{{ url_for('asesores_info', page=page-1, search=request.args.get('search', ''), estado_civil=request.args.getlist('estado_civil'), nivel_estudios=request.args.getlist('nivel_estudios'), genero=request.args.getlist('genero'), area_experiencia=request.args.getlist('area_experiencia')) }}">Anterior</a>
                            </li>
                            <li class="page-item active">
                                <span class="page-link">Página {{ page }} de {{ total_pages }}</span>
                            </li>
                            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{{ url_for('asesores_info', page=page+1, search=request.args.get('search', ''), estado_civil=request.args.getlist('estado_civil'), nivel_estudios=request.args.getlist('nivel_estudios'), genero=request.args.getlist('genero'), area_experiencia=request.args.getlist('area_experiencia')) }}">Siguiente</a>
                            </li>
                            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                                <a class="page-link"
                                    href="{{ url_for('asesores_info', page=total_pages, search=request.args.get('search', ''), estado_civil=request.args.getlist('estado_civil'), nivel_estudios=request.args.getlist('nivel_estudios'), genero=request.args.getlist('genero'), area_experiencia=request.args.getlist('area_experiencia')) }}">Última</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <p class="text-center">Total de registros: {{ total_records }}</p>
                {% endif %}



            </div>
        </section>
    </main>

    <footer id="footer">
        <div class="footer-top">
            <div class="container"></div>
        </div>
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Emergia</span></strong>.
            </div>
            <div class="credits">
                Designed by
                <a href="#">Área de Analítica e inteligencia de negocios</a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}