{% block head %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% block customCSS %} {% endblock %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logodoble.png') }}" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <!-- boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- glightbox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.css" />
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
{% endblock %} {% block body %}

<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="home"><img src="{{ url_for('static', filename='img/logo.svg') }}" alt="" />
                    <h6 style="color: #3bd100; font-weight: bold">
                        Usuario activo {{ current_user.fullname }}
                    </h6>
                </a>
            </h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a class="nav-link scrollto" href="{{ url_for('home') }}">Inicio</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto active" href="">Registro</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto" href="{{ url_for('asesores') }}">Resultados</a>
                    </li>
                    <li>
                        <a class="nav-link scrollto " href="{{ url_for('asesores_info') }}">Asesores</a>
                    </li>
                    <!-- <li>
                        <a class="nav-link scrollto" href="#services">Services</a>
                    </li> -->
                    <li>
                        <a class="btn nav-link scrollto" href="{{ url_for('logout') }}" style="color: #d7411d">
                            Cerrar sesión<i class="bi bi-box-arrow-left"
                                style="font-size: 20px; color: #d7411d"></i></a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <main id="main">
        <!-- Form Section -->
        <section id="contact" class="contact">
            <div class="container">
                <div class="section-title">
                    <span>PAC</span>
                    <h2>PAC</h2>
                    <h2 style="
                    font-size: 15PX;
                    margin: 0;
                    padding: 0;
                ">Registro de colaborador</h2>
                </div>

                <div class="mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="{{url_for('actualizar_asesor')}}" method="post" class="php-email-form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name="id" value="{{asesor[0]}}">

                        <div class="row">
                            <!-- Columna 1 -->
                            <div class="col-md-4">
                                <h6>
                                    <strong>Categoría 1: Perfil Personal y Académico</strong>
                                </h6>
                                <div class="form-group">
                                    <label for="numero_documento">Documento de identificación:</label>
                                    <input type="text" name="numero_documento" id="numero_documento"
                                        value="{{asesor[1]}}" class="form-control" placeholder="numero_documento" />
                                </div>
                                <div class="form-group">
                                    <label for="nombre">Nombre del asesor:</label>
                                    <input type="text" name="nombre" id="nombre" value="{{asesor[2]}}"
                                        class="form-control" placeholder="nombre" required />
                                </div>
                                <div class="form-group">
                                    <label for="edad">Edad:</label>
                                    <input type="text" name="edad" id="edad" value="{{asesor[3]}}" class="form-control"
                                        placeholder="edad" required />
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="genero">Género:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="genero" id="genero" required>
                                            <option value="{{asesor[4]}}" selected>{{asesor[4]}}</option>
                                            <option value="masculino" {% if genero=='masculino' %}selected{% endif %}>
                                                Masculino</option>
                                            <option value="femenino" {% if genero=='femenino' %}selected{% endif %}>
                                                Femenino</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="estado_civil">Estado civil:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="estado_civil" id="estado_civil" required>
                                            <option value="{{asesor[5]}}" selected>{{asesor[5]}}</option>
                                            <option value="soltero" {% if estado_civil=='soltero' %}selected{% endif %}>
                                                Soltero/a</option>
                                            <option value="casado" {% if estado_civil=='casado' %}selected{% endif %}>
                                                Casado/a</option>
                                            <option value="divorciado" {% if estado_civil=='divorciado' %}selected{%
                                                endif %}>Divorciado/a</option>
                                            <option value="viudo" {% if estado_civil=='viudo' %}selected{% endif %}>
                                                Viudo/a</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="label-titles" for="nivel_estudios">Nivel de estudios:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="nivel_estudios" id="nivel_estudios" required>
                                            <option value="{{asesor[8]}}" selected>{{asesor[8]}}</option>
                                            <option value="bachillerato" {% if nivel_estudios=='bachillerato'
                                                %}selected{% endif %}>Bachillerato</option>
                                            <option value="tecnico" {% if nivel_estudios=='tecnico' %}selected{% endif
                                                %}>Técnico</option>
                                            <option value="tecnologo" {% if nivel_estudios=='tecnologo' %}selected{%
                                                endif %}>Tecnólogo</option>
                                            <option value="universitario" {% if nivel_estudios=='universitario'
                                                %}selected{% endif %}>Universitario</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <!-- Columna 2 -->
                            <div class="col-md-4">
                                <h6>
                                    <strong>Categoría 2: Datos Personales</strong>
                                </h6>
                                <div class="form-group">
                                    <label class="label-titles" for="estrato">Estrato:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="estrato" id="estrato" required>
                                            <option value="{{asesor[9]}}" selected>{{asesor[9]}}</option>
                                            <option value="1" {% if estrato=='1' %}selected{% endif %}>1</option>
                                            <option value="2" {% if estrato=='2' %}selected{% endif %}>2</option>
                                            <option value="3" {% if estrato=='3' %}selected{% endif %}>3</option>
                                            <option value="4" {% if estrato=='4' %}selected{% endif %}>4</option>
                                            <option value="5" {% if estrato=='5' %}selected{% endif %}>5</option>
                                            <option value="6" {% if estrato=='6' %}selected{% endif %}>6</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="num_hijos" class="form-label">Num_hijos</label>
                                    <input type="text" name="num_hijos" id="num_hijos" value="{{asesor[10]}}"
                                        class="form-control" placeholder="num_hijos" required />
                                </div>
                                <div class="form-group">
                                    <label for="personas_cargo" class="form-label">Personas_cargo</label>
                                    <input type="text" name="personas_cargo" id="personas_cargo" value="{{asesor[11]}}"
                                        class="form-control" placeholder="personas_cargo" />
                                </div>
                                <div class="form-group">
                                    <label for="correo" class="form-label">Correo</label>
                                    <input type="text" name="correo" id="correo" value="{{asesor[6]}}"
                                        class="form-control" placeholder="correo" />
                                </div>
                                <div class="form-group">
                                    <label for="telefono" class="form-label">Telefono</label>
                                    <input type="text" name="telefono" id="telefono" value="{{asesor[7]}}"
                                        class="form-control" placeholder="telefono" required />
                                </div>
                            </div>
                            <!-- Columna 3 -->
                            <div class="col-md-4">
                                <h6>
                                    <strong>Categoría 3: Experiencia
                                        Laboral</strong>
                                </h6>
                                <div class="form-group">
                                    <label class="label-titles" for="experiencia_general">Experiencia general:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="experiencia_general" id="experiencia_general"
                                            required>
                                            <option value="{{asesor[15]}}" selected>{{asesor[15]}}</option>
                                            <option value="0" {% if experiencia_general=='0' %}selected{% endif %}>
                                                0</option>
                                            <option value="1" {% if experiencia_general=='1' %}selected{% endif %}>
                                                1</option>
                                            <option value="2" {% if experiencia_general=='2' %}selected{% endif %}>
                                                2</option>
                                            <option value="3" {% if experiencia_general=='3' %}selected{% endif %}>
                                                3</option>
                                            <option value="4" {% if experiencia_general=='4' %}selected{% endif %}>
                                                4</option>
                                            <option value="5" {% if experiencia_general=='5' %}selected{% endif %}>
                                                5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-titles" for="area_experiencia">Área de experiencia:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="area_experiencia" id="area_experiencia"
                                            required>
                                            <option value="{{asesor[13]}}" selected>{{asesor[13]}}</option>
                                            <option value="bo" {% if area_experiencia=='bo' %}selected{% endif %}>
                                                BO
                                            </option>
                                            <option value="cobranza" {% if area_experiencia=='cobranza' %}selected{%
                                                endif %}>Cobranza</option>
                                            <option value="retencion" {% if area_experiencia=='retencion' %}selected{%
                                                endif %}>Retención</option>
                                            <option value="servicio al cliente" {% if
                                                area_experiencia=='servicio al cliente' %}selected{% endif %}>
                                                Servicio
                                                al cliente</option>
                                            <option value="venta cruzada" {% if area_experiencia=='venta cruzada'
                                                %}selected{% endif %}>Venta cruzada</option>
                                            <option value="ventas" {% if area_experiencia=='ventas' %}selected{% endif
                                                %}>Ventas</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-titles" for="tiempo_ventas">Tiempo de experiencia en
                                        ventas:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="tiempo_ventas" id="tiempo_ventas" required>
                                            <option value="{{asesor[14]}}" selected>{{asesor[14]}}</option>
                                            <option value="0" {% if tiempo_ventas=='0' %}selected{% endif %}>0
                                            </option>
                                            <option value="1" {% if tiempo_ventas=='1' %}selected{% endif %}>1
                                            </option>
                                            <option value="2" {% if tiempo_ventas=='2' %}selected{% endif %}>2
                                            </option>
                                            <option value="3" {% if tiempo_ventas=='3' %}selected{% endif %}>3
                                            </option>
                                            <option value="4" {% if tiempo_ventas=='4' %}selected{% endif %}>4
                                            </option>
                                            <option value="5" {% if tiempo_ventas=='5' %}selected{% endif %}>5
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md col-lg col-sm">
                                    <div class="form-group">
                                        <label class="label-titles" for="experiencia">Años de experiencia:</label>
                                        <div class="input-container">
                                            <select class="form-control" name="experiencia" id="experiencia" required>
                                                <option value="{{asesor[12]}}" selected>{{asesor[12]}}</option>
                                                <option value="0" {% if experiencia=='0' %}selected{% endif %}>0
                                                </option>
                                                <option value="1" {% if experiencia=='1' %}selected{% endif %}>1
                                                </option>
                                                <option value="2" {% if experiencia=='2' %}selected{% endif %}>2
                                                </option>
                                                <option value="3" {% if experiencia=='3' %}selected{% endif %}>3
                                                </option>
                                                <option value="4" {% if experiencia=='4' %}selected{% endif %}>4
                                                </option>
                                                <option value="5" {% if experiencia=='5' %}selected{% endif %}>5
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-titles" for="otra_area_experiencia">Otra área de
                                        experiencia:</label>
                                    <div class="input-container">
                                        <select class="form-control" name="otra_area_experiencia"
                                            id="otra_area_experiencia" required>
                                            <option value="{{asesor[16]}}" selected>{{asesor[16]}}</option>option>
                                            <option value="areas administrativas" {% if
                                                otra_area_experiencia=='areas administrativas' %}selected{% endif %}>
                                                Áreas administrativas
                                            </option>
                                            <option value="servicio al cliente presencial" {% if
                                                otra_area_experiencia=='servicio al cliente presencial' %}selected{%
                                                endif %}>
                                                Servicio al cliente presencial
                                            </option>
                                            <option value="venta al cliente presencial" {% if
                                                otra_area_experiencia=='venta al cliente presencial' %}selected{% endif
                                                %}>
                                                Venta al cliente presencial
                                            </option>
                                            <option value="otros" {% if otra_area_experiencia=='otros' %}selected{%
                                                endif %}>Otros</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <div class="mb-3">
                            <button class="btn btn-outline-primary" type="submit">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Form Section -->
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container"></div>
        </div>
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Emergia</span></strong>.
            </div>
            <div class="credits">
                Designed by
                <a href="#">Área de Analítica e inteligencia de negocios</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- boxicons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- glightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- isotope -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <!-- purecounterjs -->
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
</body>

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<!-- boxicons -->
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<!-- glightbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>
<!-- swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<!-- isotope -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<!-- purecounterjs -->
<script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}