{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block customCSS %}{% endblock %}
{% block body %}

<body>
    <div class="container">
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>
                        <img src="{{ url_for('static', filename='img/emergia.svg') }}" alt="" />
                    </h3>
                    <p style="color: #444444; text-align: justify">
                        Bienvenido a nuestra plataforma de Recursos Humanos, el
                        núcleo de nuestra gestión de talento. Aquí, los miembros
                        del equipo acceden a herramientas que mejoran el éxito y
                        el bienestar en la empresa. Desde administrar tu perfil
                        y beneficios hasta seguir tu desarrollo profesional y
                        comunicarte con colegas, simplificamos y mejoramos tu
                        experiencia laboral.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='img/log.svg') }}" alt="" class="image" />
            </div>
        </div>

        <div class "forms-container">
            <div class="signin-signup">
                <form class="form-signin" action="/login" method="POST">
                    <h2 class="title">
                        iniciar sesión
                        <img src="{{ url_for('static', filename='img/logodoble.png') }}" alt="" style="width: 60px" />
                    </h2>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <br />
                    {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" class="form-control" name="password" placeholder="Password" />
                    </div>
                    <button class="btn solid" type="submit">Ingresar</button>
                    <p class="social-text">Visita nuestras redes sociales</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}